<div class="container">
<h1>Listado de Usuarios</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
@for (item of userService.users(); track $index) {
    <div class="col">
        <div class="card">
          <img [srcset]=item.avatar class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.first_name}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
                  <a [routerLink]="['/user',item.id]" class="btn btn-primary">Go Details</a>

        </div>
      </div>
    }
  </div>

</div>

